@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-hero {
  background: rgb(46, 46, 46);
  background: radial-gradient(
    circle,
    rgba(46, 46, 46, 1) 0%,
    rgba(43, 45, 56, 1) 64%
  );
}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}
/* Cor do scrollbar */
*::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 14px;
}